<h5>{{link-to tx.txid 'btc.tx' tx.txid}}</h5>
<h3>{{#if tx.block_no}}Block #{{tx.block_no}} {{/if}}{{ago tx.time 'X'}} {{tx.confirmations}} Confirmations</h3>
<table class='table'>
{{#if txOutputs.length}}
  <thead>
    <tr>
      <th colspan='2'>
        <h4>{{txOutputs.length}} Outputs {{tx.outgoing.value}} BTC</h4>
      </th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th>Amount (BTC)</th>
      <th>Address</th>
    </tr>
  </thead><tbody>
  {{#each output in outputs}}
    <tr>
      <td>{{output.value}}</td>
      <td>{{link-to output.address 'btc.address' output.address}}</td>
    </tr>
  {{/each}}
  </tbody>
  {{#if changeOutputs.length}}
    <thead>
      <tr>
        <th>Change Amount (BTC)</th>
        <th>Address</th>
      </tr>
    </thead><tbody>
    {{#each output in changeOutputs}}
      <tr>
        <td>{{output.value}}</td>
        <td>{{link-to output.address 'btc.address' output.address}}</td>
      </tr>
    {{/each}}
    </tbody>
  {{/if}}
{{/if}}
{{#if txInputs.length}}
  <thead>
    <tr>
      <th colspan='2'>
        <h4>{{txInputs.length}} Inputs {{tx.incoming.value}} BTC</h4>
      </th>
    </tr>
    <tr>
      <th>Address</th>
      <th>Transaction</th>
    </tr>
  </thead><tbody>
  {{#each input in txInputs}}
    <tr>
      <td>{{link-to input.address 'btc.address' input.address}}</td>
      <td>{{link-to input.from_output.txid 'btc.tx' input.from_output.txid}}</td>
    </tr>
  {{/each}}
  </tbody>
{{/if}}
</table>
