{{#if includeThumbnail}}{{#if thumbnail}}
<div class='media-left'>
  <a {{bind-attr href=item.url}} target='reddit'><img class="media-object" {{bind-attr src=item.thumbnail}} alt="..."></a>
</div>
{{/if}}{{/if}}
<div class='media-body'>
  <h4 class='media-heading'>{{link-to item.title 'thread' item}}</h4>
  <div class='meta'>
    {{item.num_comments}} comments
    posted {{ago item.created_utc 'X'}} by {{item.author}}
  </div>
</div>
