{{#if auth.address}}
  <div class='input-group'>
    <span class='input-group-addon'><span class='glyphicon glyphicon-bitcoin'></span></span>
    {{input value=amount class='form-control' placeholder=placeholder action='send'}}
    <span class="input-group-addon">satoshi</span>
    <span class="input-group-btn">
      <button {{bind-attr class=":btn isValid:btn-success:btn-danger"}} {{action 'send'}}><span class='glyphicon glyphicon-share'></span> Send</button>
    </span>
  </div>
  <div class="alert alert-info" role="alert">
    <span class='glyphicon glyphicon-exclamation-sign'></span>
    A 10000 satoshi miner fee will be included
    <span class='glyphicon glyphicon-exclamation-sign'></span>
  </div>
{{else}}
  <div class="input-group">
    {{#if auth.showPassPhrase}}
      {{input value=auth.passPhrase class="form-control" placeholder="Send BTC with FairShare passphrase"}}
    {{else}}
      {{input type='password' value=auth.passPhrase class="form-control" placeholder="Send BTC with FairShare passphrase"}}
    {{/if}}
    <span class="input-group-addon" title='Toggle Passphrase Visibility'>
      {{input type='checkbox' checked=auth.showPassPhrase}}
    </span>
  </div>
{{/if}}
