<span class='label label-danger'>Passphrases should be very unique, random and long</span>
<span class='label label-danger'>They CAN NOT be recovered if lost!</span>
{{#unless fixedMessage}}
{{textarea value=message placeholder='message' class='form-control'}}
{{/unless}}
{{#unless isCommenting}}
{{input type='password' value=passPhrase class="form-control" placeholder="FairShare passphrase" action='makeComment'}}
<div class="input-group input-group">
  {{input type='password' value=passPhraseRepeat class="form-control" placeholder="repeat FairShare passphrase" action='makeComment'}}

  <span class="input-group-btn">
    <button
      {{bind-attr class=":btn matchingPassPhrase:btn-success:btn-danger"}}
      {{action 'makeComment'}}
    >{{buttonText}}</button>
  </span>
</div>
{{else}}
  <h2 class='loading'>{{statusMessage}}</h2>
{{/unless}}
{{#unless hideMarkdown}}
{{#if markdown}}
<pre>{{markdown}}</pre>
{{/if}}
{{/unless}}
