<div class='row'>
  <div class='col-md-4'>
    <h2>Blockchain UBI</h2>
    <hr>
    <div class='input-group'>
      <span class="input-group-addon">Balance: {{balance}} satoshi</span>
      {{input value=percentage class='form-control'}}
      <span class="input-group-addon">Percent</span>
    </div>
    <hr>
    <h3>{{transactionObj.inputs.length}} Inputs</h3>
    {{#each input in transactionObj.inputs}}
      <hr>
      <h4>{{input.output.satoshis}} satoshi</h4>
      <pre>{{input.output.script}}</pre>
    {{/each}}
    <h3>{{transactionObj.outputs.length}} Outputs</h3>
    {{#each output in transactionObj.outputs}}
      <hr>
      <h4>{{output.satoshis}} satoshi</h4>
      <pre>{{output.script}}</pre>
    {{/each}}
  </div>
  <div class='col-md-4'>
    <h2>{{uniqueSignatures.length}} Addresses</h2>
    <hr>
    <ul class='media-list comments'>
    {{#each item in uniqueSignatures}}
      <li class="media">
        {{display-comment comment=item.comment hideMessage=true}}
        {{item.address}}
      </li>
    {{/each}}
    </ul>
  </div>
  <div class='col-md-4'>
    <h2>Transaction Details</h2>
    <hr>
    <h3>FairShare: {{fairShare}} satoshi</h3>
    <table class='table'>
      <tbody>
        <tr>
          <th>Disbursement</th>
          <td>{{totalDistribution}}</td>
        </tr><tr>
          <th>Miner Fee</th>
          <td>{{minerFee}}</td>
        </tr><tr>
          <th>Change</th>
          <td>{{change}}</td>
        </tr><tr>
          <th>Total</th>
          <th>{{totalInputs}}</th>
        </tr>
      </tbody>
    </table>
    <hr>
    <h1>JSON</h1>
    <pre>{{transactionJsonString}}</pre>

    <h1>Hexadecimal</h1>
    <pre>{{transactionString}}</pre>

  </div>
</div>
