{{#if voteChoices}}
  {{view "select" content=voteChoices
                  optionLabelPath="content.label"
                  optionValuePath="content.value"
                  value=selectedVote}}
{{/if}}
<div class='row'>
  <div class='col-md-4'>
    <h2>{{model.num_comments}} Comments</h2>
    <h4>{{model.comments.length}} Top-Level</h4>
    <hr>
    <ul class='media-list comments'>
      {{#each comment in model.comments}}
        <li class="media">
          {{display-comment comment=comment}}
        </li>
      {{/each}}
    </ul>
  </div>
  <div class='col-md-8'>
    <h2>Leave Comment</h2>
    {{sign-comment  thingId=model.name
                    hideMarkdown=false
                    comments=model.comments}}
  </div>
</div>
