<div class='row'>
  <div class='col-md-4'>
    <h2>{{beneficiaries.length}} Beneficiaries</h2>
    <h4>FairShare Estimate {{shareTotal.bits}} bits / ${{shareTotal.usd}}</h4>
    <hr>
    {{#if requestComment}}
      <h3>FairShare Already Requested</h3>
      <p>You may comment again, but you will only receive 1 FairShare</p>
      {{sign-comment  thingId=model.name
                      hideMarkdown=false
                      statusMessage='Requesting FairShare...'
                      buttonText='Request FairShare'
                      comments=model.comments}}
    {{else}}
      {{#if isDistributing}}
        <h3>Tip Commands (Limit of {{maxCoins}})</h3>
<textarea
  class='form-control' id='distcomment' rows=3
>{{#each share in shares}}+/u/{{share.coin.name}} {{share.amount}} {{share.coin.unit}}
{{/each}}</textarea>
      {{#if isMakingComments}}
        <hr>
        <h4>{{distComments.length}} Shares Sent</h4>
        <hr>
        {{#each item in distComments}}
          <h5>{{item.request.author}}</h5>
          <pre>{{item.commentBody}}</pre>
          <hr>
        {{/each}}
      {{else}}
        <button class='btn btn-danger form-control' {{action 'doDistribution'}}>Do Distribution</button>
      {{/if}}
      {{else}}
        {{sign-comment  thingId=model.name
                        hideMarkdown=false
                        statusMessage='Requesting FairShare...'
                        buttonText='Request FairShare'
                        comments=model.comments}}
      {{/if}}
    {{/if}}
    {{#unless isDistributing}}<hr>{{{subreddit.wiki.content_html}}}{{/unless}}
  </div><div class='col-md-4'>
    <h2>Income Escrow</h2>
    <h4>Estimated Total: {{collectiveTotal.btc}} BTC / ${{collectiveTotal.usd}}</h4>
    <hr>
    {{#if isDistributing}}
    <form>
      {{#each total in totals}}
      <div class='row'>
        <div class='col-md-6'>
          {{total.coin.count}} {{total.coin.unit}}<br>
          {{total.value}} BTC
        </div><div class='col-md-6'>
          <div class='input-group'>
            {{input value=total.coin.percentage class='form-control'}}
            <span class='input-group-addon'>%</span>
            <span class="input-group-btn">
              <button class='btn btn-danger' {{action 'removeCoin' total.coin}}>
                X
              </button>
            </span>
          </div>
        </div>
      </div>
      {{/each}}
      </form>
<pre id='distlog'># {{title}}

---

# Income Escrow

{{#each share in shares}}
## {{share.coin.name}}: {{share.coin.count}} {{share.coin.unit}}
### {{share.coin.percentage}}% Disbursement: {{share.total.amount}} {{share.coin.unit}}
# FairShare: {{share.amount}} {{share.coin.unit}}
{{/each}}

# FairShare Value Estimate
## {{shareTotal.bits}} bits (BTC)

---

# {{beneficiaryCount}} UBI Beneficiaries

{{#each name in beneficiaries}}
/u/{{name}}

{{/each}}
</pre>
    {{else}}
      <table class='table'>
        <thead>
          <tr>
            <th>Currency</th>
            <th>Amount</th>
            <th>BTC Value</th>
          </tr>
        </thead><tbody>
        {{#each total in totals}}
          <tr>
            <th>{{total.coin.unit}}</th>
            <td>{{total.coin.count}}</td>
            <td>{{total.value}} BTC</td>
          </tr>
        {{/each}}
        </tbody>
      </table>
      {{#if myCommentItems.length}}
        <h3>My Comments</h3>
        <ul class='media-list comments'>
        {{#each item in myCommentItems}}
          <li class="media">
            {{display-comment comment=item.comment}}
          </li>
        {{/each}}
        </ul>
      {{/if}}
    {{/if}}
  </div>
  <div class='col-md-4'>
    <h2>{{model.num_comments}} Comments</h2>
    <h4>{{model.comments.length}} Top-Level</h4>
    <hr>
    <ul class='media-list comments'>
      {{#each comment in model.comments}}
        <li class="media">
          {{display-comment comment=comment}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
