<div class='row'>
  <div class='col-md-4'>
<h2>Coin Disbursement</h2>
    <hr>
    <div class='row'>
      <div class='col-md-6'>
        <div class="form-group">
          <label>Percentage</label>
          {{input value=percentage class='form-control'}}
        </div>
      </div><div class='col-md-6'>
        <div class="form-group">
          <label>Beneficiaries</label>
          {{input value=beneficiaryCount class='form-control'}}
        </div>
      </div>
    </div>
    <hr>
    <h3>Income Escrow</h3>
    <form>
      {{#each total in totals}}
      <hr>
      <div class="form-group">
        <div class='row'>
          <div class='col-md-7'>
            <div class="form-group">
              {{input value=total.coin.name class='form-control'}}
            </div>
          </div>
          <div class='col-md-4'>
            <div class="form-group">
              {{input value=total.coin.unit class='form-control'}}
            </div>
          </div>
          <div class='col-md-1'>
            <div class="form-grou">
              {{input checked=total.coin.plus type='checkbox' class='form-control'}}
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-7'>
            <div class="form-group">
              {{input value=total.coin.count class='form-control'}}
            </div>
          </div><div class='col-md-5'>
            <div class="form-group">
              {{total.value}} BTC<br>
              ${{total.usdValue}}
            </div>
          </div>
        </div>

      </div>
      {{/each}}
    </form>
    <hr>
    <h4>Estimated Total: {{collectiveTotal.btc}} BTC / ${{collectiveTotal.usd}}</h4>
    <hr>
    {{!--{{#if user}}
      {{#if requestComment}}
        <span class='label label-success form-control'>You have already requested a FairShare</span>
      {{else}}
        {{#if isRequesting}}
          <span class='label label-warning form-control'>Requesting FairShare...</span>
        {{else}}
        {{textarea
            value=newCommentText
            placeholder="Free Bitcoin with a side of Speech."
            class='form-control'}}
        <button class='btn btn-default form-control' {{action 'makeRequest'}}>Request Your FairShare</button>
        {{/if}}
      {{/if}}
    {{else}}
      <a title='Login' {{bind-attr href=loginUrl}}><button class='btn btn-default form-control'>Login to Request Your FairShare</button></a>
    {{/if}}--}}
<h3>Distribution Comment</h3>
<textarea
  class='form-control' id='distcomment' rows=5
>{{#each share in shares}}{{#if share.coin.plus}}+{{/if}}/u/{{share.coin.name}} {{share.amount}} {{share.coin.unit}}

{{/each}}</textarea>
{{#if isDistributing}}
  <button class='btn btn-default form-control' {{action 'doDistribution'}}>Do Distribution</button>
{{/if}}
  </div>
    <div class='col-md-4'>
<pre id='distlog'># {{title}}

---

{{#each share in shares}}
# {{share.coin.name}}: {{share.coin.count}} {{share.coin.unit}}
### Today's Total: {{share.total.amount}} {{share.coin.unit}}
## FairShare: {{share.amount}} {{share.coin.unit}}
{{/each}}

# Total FairShare Value Estimate
## {{shareTotal.bits}} bits (BTC)

---

# {{beneficiaryCount}} Beneficiaries

{{#each name in beneficiaries}}
 * /u/{{name}}
{{/each}}
</pre>
    </div>
    <div class='col-md-4'>
      <h2>{{beneficiaries.length}} Beneficiaries</h2>
      <hr>
      <ul class='media-list'>
        {{#each comments}}
          <li class="media">
            <div class="media-body">
              <h4 class="media-heading">{{author}}{{#if author_flair_text}}
                <span class="label label-default">{{author_flair_text}}</span>
              {{/if}}</h4>
              {{{body_html}}}
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
</div>
