<div class='row address-page'>
  <div class='col-md-4'>
    {{#if isMine}}
      <h2>My BrainWallet</h2>
    {{else}}
      <h2>Send BTC</h2>
      {{send-btc dest=model.address}}
    {{/if}}
    {{qr-code value=model.address}}
  </div>
  <div class='col-md-8'>
    <h2>{{model.address}}</h2>
    <h3>Total Transactions: {{model.total_txs}}</h3>
    <h3>Received: {{model.received_value}} {{model.network}}</h3>
    <h3>Pending: {{model.pending_value}} {{model.network}}</h3>
    <h1>Balance: {{model.balance}} {{model.network}}</h1>
    {{#if model.txs.length}}
      <hr>
      {{#each tx in model.txs}}
      <div class='well'>
        <h5>{{tx.txid}}</h5>
        <h3>{{#if tx.block_no}}Block #{{tx.block_no}} {{/if}}{{ago tx.time 'X'}} {{tx.confirmations}} Confirmations</h3>
        {{#if tx.incoming.value}}
          <h2>{{tx.incoming.inputs.length}} Inputs {{tx.incoming.value}} BTC</h2>
        {{/if}}
        {{#if tx.outgoing.value}}
          <h2>{{tx.outgoing.outputs.length}} Outputs {{tx.outgoing.value}} BTC</h2>
        {{/if}}
      </div>
      {{/each}}
    {{/if}}
  </div>
</div>
