<div class='navbar navbar-default navbar-fixed-top'>
  <div class='container'>
    <div class='navbar-header'>
      {{link-to 'Fair-Share' 'ubi' class='navbar-brand'}}
    </div>
    <div id='navbar' class='navbar-collapse collapse'>
      <ul class='nav navbar-nav'>
        <li><a target='reddit' href='https://reddit.com/r/FairShare'>on reddit</a></li>
      </ul>
      <ul class='nav navbar-nav navbar-right'>
        <li>{{link-to 'Privacy Policy' 'privacy'}}</li>
        <li>{{#if user}}
          <a title='logout' {{action 'logout'}}>Logout: {{user.name}}</a>
        {{else}}
          <a title='Login' {{bind-attr href=loginUrl}}>Login at reddit.com</a>
        {{/if}}</li>
      </ul>
    </div>
  </div>
</div>
<div id='maincontainer' class='container'>{{outlet}}</div>
