<div class='navbar navbar-default navbar-fixed-top'>
  <div class='container'>
    <div class='navbar-header'>
      {{link-to 'Fair-Share' 'index' class='navbar-brand'}}
    </div>
    <div id='navbar' class='navbar-collapse collapse'>
      <ul class='nav navbar-nav'>
        <li>{{link-to 'about' 'about'}}</li>
        <li><a target='reddit' href='https://reddit.com/r/GetFairShare/about/sticky'>reddit</a></li>
        <li><a target='changetip' href='https://PoliticBot.tip.me'>changetip</a></li>
        <li><a target='github' href='https://github.com/Fair-Share'>github</a></li>
      </ul>
      <ul class='nav navbar-nav navbar-right'>
        <li>{{link-to 'Privacy Policy' 'privacy'}}</li>
        <li>{{#if user}}
          <a title='logout' {{action 'logout'}}>Logout: {{user.name}}</a>
        {{else}}
          <a title='Login' class='dontintercept' {{bind-attr href=loginUrl}}>Login at reddit</a>
        {{/if}}</li>
      </ul>
    </div>
  </div>
</div>
<div id='maincontainer' class='container'>{{outlet}}</div>
<hr>
<footer id='footer'>
All code and concepts are licensed under <a href='http://www.wtfpl.net' target='license'>WTFPLv2</a>.  Build something!
</footer>
