<div class='navbar navbar-default navbar-fixed-top'>
  <div class='container'>
    <div class='navbar-header'>
      {{link-to 'Fair-Share' 'index' class='navbar-brand'}}
    </div>
    <div id='navbar' class='navbar-collapse collapse'>
      <ul class='nav navbar-nav'>
        <li>{{#link-to 'about' title='About FairShare'}}<span class='glyphicon glyphicon-info-sign'></span>{{/link-to}}</li>
        <li><a target='reddit' href='https://reddit.com/r/FairShare' title='@reddit'><span class='glyphicon glyphicon-comment'></span></a></li>
        <li>{{#link-to 'ubi' title='Universal Basic Income'}}<span class='glyphicon glyphicon-transfer'></span>{{/link-to}}</li>
        <li>{{#link-to 'btc' title='BTC Blockchain UBI'}}<span class='glyphicon glyphicon-bitcoin'></span>{{/link-to}}</li>
      </ul>
      <ul class='nav navbar-nav navbar-right'>
        {{#if auth.address}}
          <li>{{#link-to 'btc.address' auth.addressString}}<span class='glyphicon glyphicon-bitcoin'></span> {{auth.balanceBtc}}{{/link-to}}</li>
        {{/if}}
        <li>{{#if user}}
          <a title='Logout of reddit' {{action 'logout'}}><span class='glyphicon glyphicon-user'></span> {{user.name}}</a>
        {{else}}
          <a title='Login with reddit' class='dontintercept' {{bind-attr href=loginUrl}} title='with reddit'><span class='glyphicon glyphicon-user'></span></a>
        {{/if}}</li>
      </ul>
    </div>
  </div>
</div>
<div id='maincontainer' class='container'>{{outlet}}</div>
<footer class='footer'>
  <hr>
  <div class='container'>
    {{#if auth.addressData.total_txs}}
      {{#link-to 'btc.address' auth.addressString tagName='button' class='btn form-control' classNameBindings="auth.addressData.total_txs:btn-success:btn-default"}}
        Balance {{auth.address}}
      {{/link-to}}
    {{else}}
      <div class="input-group">
        <span class="input-group-addon">
          {{input type='checkbox' checked=showPassPhrase title='Toggle Passphrase Visibility'}}
        </span>
        {{#if showPassPhrase}}
          {{input value=auth.passPhrase class="form-control" placeholder="Your FairShare passphrase (will show)"}}
        {{else}}
          {{input type='password' value=auth.passPhrase class="form-control" placeholder="Your FairShare passphrase (hidden)"}}
        {{/if}}
      </div>
    {{/if}}
  </div>
  <hr>
</footer>
<footer id='footer'>
  <h5>All <a target='github' href='https://github.com/Fair-Share'>code and concepts</a> are licensed under <a href='http://www.wtfpl.net' target='license'>WTFPLv2</a>.  Build something!</h5>
  <h4>{{#link-to 'privacy'}}<span class='glyphicon glyphicon-eye-close'></span> FairShare Privacy Policy <span class='glyphicon glyphicon-eye-close'></span>{{/link-to}}</h4>
</footer>
