<div class='row homepage'>
  <div class='col-md-2'></div>
  <div class='col-md-8'>
    <div class='jumbotron'>
      <h1>Welcome to {{link-to 'FairShare!' 'about'}}</h1>
      <hr>
      <p>An apolitical approach to <a href='https://reddit.com/r/BasicIncome/wiki' target='reddit'>Universal Basic Income</a></p>
      <p>
        {{link-to 'What is FairShare?' 'about' class='btn btn-primary'}}
        {{#if auth.user}}
          {{link-to '/r/GetFairShare' 'ubi' class='btn btn-success btn-lg' title="Request a FairShare at /r/GetFairShare"}}
        {{else}}
          <a {{bind-attr href=auth.loginUrl}} class='btn btn-success btn-lg dontintercept' title='Login with reddit to request a FairShare'>/r/GetFairShare</a>
        {{/if}}
        <a href='https://reddit.com/r/FairShare' target='reddit' class='btn btn-primary'>
          Discuss on reddit
        </a>
      </p>
      <hr>
      <blockquote>
        <p>We shouldn’t delay forever until every possible feature is done. There’s always going to be one more thing to do.</p>
        <footer>Satoshi Nakamoto</footer>
      </blockquote>
      <a href="https://twitter.com/go1dfish">twitter.com/go1dfish</a> |
      <a href="https://snew.github.io">snew.github.io</a>
    </div>
  </div>
  <div class='col-md-2'></div>
</div>
