<div class='row'>
  <div class='col-md-4'>
<h2>Income Disbursement</h2>
<pre>{{#each share in shares}}{{share.tip}}
{{/each}}
</pre>
    <h3>Crypto Currency Escrows</h3>
    <form>
      {{#each coin in coins}}
      <div class="form-group">
        <label>{{coin.name}} ({{coin.unit}})</label>
        {{input value=coin.count class='form-control'}}
      </div>
      {{/each}}
      <h4>Disbursement Parameters</h4>
      <div class="form-group">
        <label>Percentage</label>
        {{input value=percentage class='form-control'}}
      </div>
      <div class="form-group">
        <label>Beneficiaries</label>
        {{input value=beneficiaryCount class='form-control'}}
      </div>
    </form>
    {{!--{{#if user}}
      {{#if requestComment}}
        <span class='label label-success form-control'>You have already requested a FairShare</span>
      {{else}}
        {{#if isRequesting}}
          <span class='label label-warning form-control'>Requesting FairShare...</span>
        {{else}}
        {{textarea
            value=newCommentText
            placeholder="Free Bitcoin with a side of Speech."
            class='form-control'}}
        <button class='btn btn-default form-control' {{action 'makeRequest'}}>Request Your FairShare</button>
        {{/if}}
      {{/if}}
    {{else}}
      <a title='Login' {{bind-attr href=loginUrl}}><button class='btn btn-default form-control'>Login to Request Your FairShare</button></a>
    {{/if}}--}}
    <ul class='media-list'>
      {{#each comments}}
        <li class="media">
          <div class="media-body">
            <h4 class="media-heading">{{author}}{{#if author_flair_text}}
              <span class="label label-default">{{author_flair_text}}</span>
            {{/if}}</h4>
            {{{body_html}}}
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
    <div class='col-md-8'>
  {{#if link_flair_text}}
    <h2>{{link_flair_text}} : {{title}}</h2>
  {{else}}
    <h2>{{title}}</h2>
  {{/if}}

<pre># Crypto Income Escrows {{#each share in shares}}
## {{share.coin.name}}: {{share.coin.count}} {{share.coin.unit}}
### Today's Distribution: {{share.total.amount}} {{share.coin.unit}}
### Today's FairShare: {{share.amount}} {{share.coin.unit}}

---
{{/each}}

# {{beneficiaryCount}} Beneficiares

{{#each name in beneficiaries}}
 * /u/{{name}}
{{/each}}
</pre>
    </div>

</div>
